.form-simple .font-small {
  font-size: 0.8rem;
}

.form-simple .header {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.form-simple input[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #ff3547;
  -webkit-box-shadow: 0 1px 0 0 #ff3547;
  box-shadow: 0 1px 0 0 #ff3547;
}

.form-simple input[type="text"]:focus:not([readonly]) + label {
  color: #4f4f4f;
}

.form-simple input[type="password"]:focus:not([readonly]) {
  border-bottom: 1px solid #ff3547;
  -webkit-box-shadow: 0 1px 0 0 #ff3547;
  box-shadow: 0 1px 0 0 #ff3547;
}

.form-simple input[type="password"]:focus:not([readonly]) + label {
  color: #4f4f4f;
}


.info {
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}

/* Intros */

#classicformpage .view {
  min-height: 100vh;
}

#classicformpage .gradient {
  background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
}

#classicformpage .card {
  background-color: rgba(126, 123, 215, 0.2);
}

#classicformpage h6 {
  line-height: 1.7;
}

#classicformpage .navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

#classicformpage .top-nav-collapse {
  background: #424f95 !important;
}
.contact-color{
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.about-main{
  /* height: 100vh !important; */
}
.hero-image{
  width: 100%;
  height: 30rem;
background-image: url('/images/bed3.jpg');
background-repeat: no-repeat;
background-position: center;
}
.hero-image .text{
  width:8rem;
  padding:30px;
 margin-left:50px;
}
.about-us{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about-img{
  width: 30%;
  margin-left:50px;
  }
.about-content{
  width: 30%;
}


@media (max-width: 768px) {
  #classicformpage .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

#classicformpage label {
  color: #fff !important;
}
/* End of intros */